<div class="header-vivi">
    <div class="header-logo">
      <img src="../../../assets/img/Grupo 1.svg" class="max-height-width-30" />
      <img src="../../../assets/img/Grupo 6.svg" alt="" />
      <img src="../../../assets/img/Grupo 5.svg" class="max-height-width-30" />
    </div>
    <div class="header-info">
      <div class="header-info__name">
        <span>CRISTIAN DAVID ARIAS CORREA</span>
      </div>
      <div class="header-info__option">
        <img src="../../../assets/img/Grupo 13374.svg" alt="" />
        <div class="header-info__option-text">
          <p class="p-title">
            {{ title }}
          </p>
        </div>
      </div>
    </div>
  </div>