.option-receiver {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #CACACA;
  &__name {
    font: bold 16px/0px Roboto;
    color: black;
  }

  &__tel {
    font: normal 14px/12px Roboto;
  }

  &__select {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
