<div class="option-products">
  <div class="option-products__info">
    <p class="option-products__title">
      {{ optionProduct.name }}

    </p>
    <p class="option-products__content">
      {{ optionProduct.number }}
    </p>
  </div>
  <div class="option-products__info">
    <p class="option-products__title option-products__title--info">
      {{ optionProduct.amount }}
    </p>
    <p class="option-products__content option-products__content--info">
      {{ optionProduct.info }}
    </p>
  </div>
</div>
